@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Custom, reusable scrollbar */
	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-track {
		@apply bg-transparent; /* Make track invisible against its container */
	}

	::-webkit-scrollbar-thumb {
		@apply bg-zinc-700 rounded-full;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-zinc-600;
	}
}